<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <style type="text/css">
    .drawer-overlay {
      transition: all .2s ease-in-out;
      background: black;
      bottom: 0;
      height: 100%;
      left: 0;
      position: fixed;
      right: 0;
      top: 56px;
      max-width: 100%;
      z-index: 9998;
      opacity: 0;
      visibility: hidden;
    }
    .drawer-overlay.active{
      opacity: 0.4;
      visibility: visible; 
    }
    </style>
    <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <script src="js/jquery-2.1.1.min.js"></script>
    <link href="materialize/css/materialize.min.css" rel="stylesheet">
    <script src="materialize/js/materialize.min.js"></script>
    <link href="css/drawer.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- dependencies -->
    <script src="js/depends/sails.io.js"></script>
    <script>
    //////////////////////////////////////////////////////////////////////////////////////////
    // Define sails server before everything else! ///////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////
    io.sails.useCORSRouteToGetCookie = false;
    io.sails.url = 'http://meshr.cz:7331';
    /*
    io.sails.url = 'http://meshr.cz:1337';
    */
    //////////////////////////////////////////////////////////////////////////////////////////
    </script>
    <script src="js/depends/md5.js"></script>
    <script src="js/depends/underscore.js"></script>
    <script src="js/depends/date.min.js"></script>

    <script src="js/countries_data.js"></script>
    <script src="js/iso_countries.min.js"></script>
    <script src="js/currencyList.min.js"></script>
    <script src="js/Common-Currency.min.js"></script>
    
    <script src="js/ng-cordova.min.js"></script>
    <script src="js/hammer.min.js"></script>
    <!-- Map charts -->
    <script src="lib/highcharts/highcharts.js"></script>
    <script src="lib/highcharts/modules/map.js"></script>
    <script src="lib/highcharts/world.js"></script>
  </head>

  <body ng-app="starter" layout="column">

    <div class="add-panel">
      <div class="switch">

        <div class="fixed-action-btn joint">
          <a class="btn-floating btn-large" ng-click="addSmoke('joint'); togglePlus()">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
              <path fill="#010101" d="M15.566,15.756c3.807-0.588,6.085-2.455,6.085-2.455s-3.065-0.651-6.87,0.707
              c3.529-3.702,4.16-7.668,4.16-7.668s-3.502,1.995-5.733,6.586c0.281-6.331-2.573-10.52-2.573-10.52s-1.472,4.806,0.674,10.755
              c-3.486-3.679-7.39-4.532-7.39-4.532s1.808,3.65,6.349,6.135c-4.215-0.265-7.094,1.354-7.094,1.354s3.153,1.272,7.409,0.373
              c-1.188,0.8-1.755,1.657-1.755,1.657s1.983-0.183,3.842-1.863c0.025,0.126,0.055,0.251,0.087,0.378
              c0.156,0.594,0.373,1.176,0.442,1.788c0.057,0.503,0.035,1.019-0.039,1.519c-0.06,0.393-0.167,0.901-0.471,1.169
              c-0.281,0.249,0.084,0.705,0.368,0.455c0.379-0.334,0.536-0.833,0.639-1.312c0.116-0.541,0.134-1.104,0.104-1.656
              c-0.049-0.883-0.459-1.755-0.604-2.634c0.01-0.005,0.02-0.011,0.029-0.017l-0.009,0.044c2.43,1.282,4.595,0.818,4.595,0.818
              S16.985,16.163,15.566,15.756z"/>
            </svg>  
          </a>
        </div>
    
        <div class="fixed-action-btn smoke">
          <a class="btn-floating btn-large" ng-click="addSmoke(); togglePlus()">
            <svg version="1.1" id="pack" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
              <g id="cig">
                <rect id="body" x="7.921" y="3.23" transform="matrix(-0.7074 0.7068 -0.7068 -0.7074 24.2896 12.4263)" fill="#594A42" width="3.303" height="16.022"/>
              
                <rect id="tip" x="14.695" y="17.436" transform="matrix(-0.7076 0.7067 -0.7067 -0.7076 40.6404 19.2075)" fill="#594A42" width="3.301" height="1.155"/>
              </g>
            <path id="smoke" fill="#594A42" d="M21.26,7.163c-1.648,1.367-0.116,2.688-0.896,4.077c-1.104,1.975-2.854,1.977-2.816,4.087c0-3.894,1.47-2.208,1.266-5.132C18.682,8.343,19.561,7.248,21.26,7.163z"/>
            </svg>
          </a>
        </div>
    
        <div class="fixed-action-btn plus">
          <a class="btn-floating btn-large" ng-click="togglePlus()">
            <i class="large mdi-content-add"></i>
          </a>
        </div>
    
      </div>
    </div>

    <div class="loading" ng-if="isloadingStart">
      <div class="wrapper">
        <div class="center">
          <img src="img/logopng_256.png">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-red-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
        <h5> 
        {{ isloadingText }} </h5>      
      </div>
    </div>
    
    <div id="slideme" class="swipe-area">
      &nbsp
    </div>

    <ion-nav-view></ion-nav-view>
  
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
  
  </body>
</html>
