<ion-view view-title="Info">
  <ion-content>
  <div class="content">
  	<div class="row">

      <div class="col s12 cigarettes-count all-title">
        <h5>What is it?</h5> 
        <span class="small" style="text-align: left;">
        <p>
          Well, do you smoke?<br>
          Of course you do, and that is why I created this thing. Every time you smoke a cigarette, add it here and help create world-wide statistic!<br>
        </p>
        <p>
          No sign-up or login needed. Set waht you want. The purpose of this app is to map smoking habits in all countries. It'll show you how much you've smoked, what is the average of smoked cigarettes in your country, your average in last x days/months/years.
        </p>
        <p>
          More features are coming I guess, but so far the main idea is done and hopefully working.<br>
          If you have found any bugs, please go to <a href="https://bitbucket.org/fvincurek/smokers/issues">issues</a> and submit bug (if doesn't already exists).
        </p>
        <p>
          <strong>Thank you</strong> for using this app, it really helps me to see that some people are using it :)
        </p>
        <p>
          You can <strong>contact me</strong> on twitter <a href="https://twitter.com/vincurekf">@vincurekf</a>, <a href="https://plus.google.com/+FilipVincůrek">Google+</a> or via <a href="mailto:vincurek.f@gmail.com">e-mail</a>.
        </p>
        </span>
      </div>
      
      </div>
      </div>
    </div>
  </div>
  </ion-content>
</ion-view>