<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    
    <div class="navbar-fixed" ng-controller="AppCtrl">
      <nav>
        <div ng-click="drawer.show('hide')" class="nav-wrapper">
          <a id="nav-toggle" class="menu-icon" href="#"><span></span></a>
          <a class="brand-logo left">{{ $root.activeSection }}</a>
        </div>
      </nav>
    </div>

    <div class="address" ng-click="getLocation()">
      <strong>{{ address.city }}</strong>
      <i class="{{ address.icon }} location"></i>
      <!--
      {{ address.country }}
      -->
    </div>
    
    <div ng-if="saving" class="saved">Saved!</div>
    <div ng-if="disconnected" class="disconnected">
      <i class="icon ion-loop connecting"></i>
      Connecting...
    </div>

    <ion-nav-view name="menuContent" class="menu-content-panel"></ion-nav-view>
  </ion-side-menu-content>
</ion-side-menus>

<!-- Navbar Drawer -->
<drawer id="drawer" class="drawer depth z2" ng-click="drawer.hide()">
  <ion-content>
    
    <!--
    <img src="img/ionic.png" class="circle title"></img>
    <a class="brand-logo left">Smokers</a>
    -->

    <ion-list class="topBar">

      <ion-item nav-clear menu-close href="#/app" class="item item-icon-left left-menu" ng-click="updateTitle('Smokes')">
        <i class="icon ion-pie-graph"></i>
        Smokes 
      </ion-item>

      <ion-item nav-clear menu-close href="#/app/personalStats" class="item item-icon-left left-menu" ng-click="updateTitle('Personal Stats')">
        <i class="large mdi-social-person"></i>
        Personal Stats 
      </ion-item>

      <ion-item nav-clear menu-close href="#/app/worldStats" class="item item-icon-left left-menu" ng-click="updateTitle('World Stats')">
        <i class="icon ion-stats-bars"></i>
        World Stats 
      </ion-item>

      <ion-item nav-clear menu-close href="#/app/worldMap" class="item item-icon-left left-menu" ng-click="updateTitle('World Map')">
        <i class="icon ion-map"></i>
        World Map 
      </ion-item>
    
    </ion-list>
    <ion-list class="bottom-menu">

      <ion-item nav-clear menu-close href="#/app/settings" class="item item-icon-left left-menu" ng-click="updateTitle('Settings')">
        <i class="large mdi-action-settings"></i>
        Settings
      </ion-item>

      <ion-item nav-clear menu-close href="#/app/info" class="item item-icon-left left-menu" ng-click="updateTitle('Info')">
        <i class="icon ion-help-buoy"></i>
        Info
      </ion-item>
      
    </ion-list>
  </ion-content>
</drawer>
<div class="drawer-overlay" ng-click="drawer.hide(); togglePlus(true)"></div>
<!-- Navbar Drawer -->