<ion-view view-title="Settings">
  <ion-content>
  <div class="content">
  <div class="settings-cont">
    
    <div class="row depth z1">
        <div class="col s12 cigarettes-count">
          <img src="{{ showGravatar(user.email) }}" class="circle z-depth-1 user-grav"></img>
          Personal options 
        </div>
    </div>

    <form>
      <div class="row padd top1 depth z1">
        <div class="col s12">
          
          <div class="row">
            <div class="input-field col s6">
              <input ng-model="user.name" value="{{ user.name }}" id="first_name" type="text" class="validate">
              <label class="active" for="first_name">Username</label>
            </div>
            <div class="input-field col s6">
              <select ng-model="user.gender" class="browser-default">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
              <label class="active">Gender</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <input ng-model="user.email" value="{{ user.email }}" id="email" type="text" class="validate">
              <label class="active" for="email">Email</label>
            </div>
            <div class="input-field col s6">
              <input ng-model="user.show_gravatar" type="checkbox" id="show_gravatar" style="top: -20px;"/>
              <label for="show_gravatar">Show gravatar</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row padd top1 bottom1 depth z1">
        <div class="input-fiald col s5 cigarettes-count">
          Money related 
        </div>
      </div> 
      <div class="row depth z1">
        <div class="col s12">
          
          
          <div class="row">
            <div class="input-field col s6">
              <input ng-model="user.pack_price" value="{{ user.pack_price }}" id="price" type="number" class="validate">
              <label class="active" for="price">Price</label>
            </div>
            <div class="input-field col s6">
              <input ng-model="user.pack_value" value="{{ user.pack_value }}" id="pack" type="number" class="validate">
              <label class="active" for="pack">of X cigarrettes</label>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="input-field col s4 center">
          <button class="reset button btn waves-effect waves-light btn-large" type="submit" name="action" ng-click="reset()">Reset
            <i class="mdi-action-restore left"></i>
          </button>
        </div>
        <div class="input-field col s4 center">
          <button class="save button btn waves-effect waves-light btn-large" type="submit" name="action" ng-click="update(user)">Save
            <i class="mdi-content-send right"></i>
          </button>
        </div>
      </div>
    
    </form>

  </div>
  </div>
  </ion-content>
</ion-view>
