<ion-view view-title="Smokes">
  <ion-content>
  <div class="content">
  
  <div class="row padd top1 depth z1">
    <div class="col s6 cigarettes-count">
      <span class="big-red">{{ personal.total }}</span>
      in <strong>total</strong> 
      <br>
      <span class="med-red"> {{ personal.money }} {{ currency() }}</span>
    </div>
    <div class="col s6 cigarettes-count">
      <span class="big-red">{{ personal.today }}</span>
      <strong>today</strong> 
      <br>
      <span class="med-red"> {{ personal.todayMoney }} {{ currency() }}</span>
    </div>
  </div> 

  <div class="row">
    <div class="col s12">
      <div class="chart-holder">
        <div id="pie-chart" class="pie-chart"></div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12">

      <ion-list class="smokes">
        <ul class="collection with-header">
          <li class="collection-item single" ng-repeat="smoke in renderSmokes track by $index">
            <div ng-if="isOwner( smoke.uuid ) === true" ng-click="deleteSmoke( smoke )" class="delete">
  		        <img ng-if="smoke.user.show_gravatar === true" src="{{ showGravatar(smoke.user.email) }}" class="circle gravatar"></img>
              <i class="mdi-content-clear"></i>
            </div>
            <div ng-if="isOwner( smoke.uuid ) === false" class="loc-icon">
              <img ng-if="smoke.user.show_gravatar === true" src="{{ showGravatar(smoke.user.email) }}" class="circle gravatar"></img>
              <i class="icon ion-location"></i>
            </div>

            <span class="title">{{ getGlobalAddress(smoke.address.country_code) }} {{ smoke.address.city || smoke.address.village || smoke.address.suburb }}</span>
            <p>
              <span class="username"><span ng-if="smoke.user.name || smoke.username">{{ smoke.user.name || smoke.username }}</span> @{{ formatTime(smoke.createdAt) }}</span>
              <span ng-if="smoke.type === 'joint'" class="joint-icon">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                <path fill="#010101" d="M15.566,15.756c3.807-0.588,6.085-2.455,6.085-2.455s-3.065-0.651-6.87,0.707
                  c3.529-3.702,4.16-7.668,4.16-7.668s-3.502,1.995-5.733,6.586c0.281-6.331-2.573-10.52-2.573-10.52s-1.472,4.806,0.674,10.755
                  c-3.486-3.679-7.39-4.532-7.39-4.532s1.808,3.65,6.349,6.135c-4.215-0.265-7.094,1.354-7.094,1.354s3.153,1.272,7.409,0.373
                  c-1.188,0.8-1.755,1.657-1.755,1.657s1.983-0.183,3.842-1.863c0.025,0.126,0.055,0.251,0.087,0.378
                  c0.156,0.594,0.373,1.176,0.442,1.788c0.057,0.503,0.035,1.019-0.039,1.519c-0.06,0.393-0.167,0.901-0.471,1.169
                  c-0.281,0.249,0.084,0.705,0.368,0.455c0.379-0.334,0.536-0.833,0.639-1.312c0.116-0.541,0.134-1.104,0.104-1.656
                  c-0.049-0.883-0.459-1.755-0.604-2.634c0.01-0.005,0.02-0.011,0.029-0.017l-0.009,0.044c2.43,1.282,4.595,0.818,4.595,0.818
                  S16.985,16.163,15.566,15.756z"/>
                </svg>
              </span>
              <span ng-if="smoke.gender" class="gender-icon">
                <i class="icon ion-{{ checkGender(smoke.gender) }} {{ checkGender(smoke.gender) }}"></i>
              </span>
            </p>
          </li>
        </ul>
      <a class="waves-effect waves-light btn-large load-more white-text" ng-click="loadMore()" >Load more</a>

      </ion-list>  
    </div>
  </div>

  </div>
  </ion-content>
  
</ion-view>