<ion-view view-title="World Map">
  <ion-content>
  	<!--
  	<div class="informace">{{ informace.name }}&nbsp{{ informace.pocet }}&nbsp{{ informace.suffix }}</div>
	-->
	<div id="world-map-chart" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></div>
  </ion-content>
</ion-view>
