<ion-view view-title="World Stats">
  <ion-content>
  <div class="content">

  <div class="row padd top1 depth z1">
    <div class="col s6 cigarettes-count">
      <span class="big-red">{{ worldGlobal.total }}</span> <strong>total</strong>
    </div>
    <div class="col s6 cigarettes-count">
      <span class="big-red">{{ worldGlobal.other }}</span> <strong>other</strong> 
    </div>
  </div> 
  
  <div class="row padd top1 depth z1">
    <div class="col s6 cigarettes-count">
      <span class="big-red">{{ worldGlobal.male }}</span> <strong>male</strong> 
    </div>
    <div class="col s6 cigarettes-count">
      <span class="big-red">{{ worldGlobal.female }}</span> <strong>female</strong>
    </div>
  </div> 

  <div class="row">
    <div class="col s12">
    	<div class="global-number">
    	</div>
  		<div id="world-stats-chart" style="position: relative; width: 100%; height: 350px;"></div>
    </div>
  </div>

  </div>
  </ion-content>
</ion-view>
