<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <title>Smokers</title>

    <link href="./css/mui.min.css" rel="stylesheet">
    <link href="./leaflet/leaflet.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    <script src="./js/angular.route.min.js"></script>
    <script src="./js/angular.animate.min.js"></script>
    <script src="./js/mui.min.js"></script>
    -->
    <script src="./js/angular.min.js"></script>

    <!-- dependencies -->
    <script src="./js/depends/sails.io.js"></script>
    <script>
    //////////////////////////////////////////////////////////////////////////////////////////
    // Define sails server before everything else! ///////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////
    io.sails.useCORSRouteToGetCookie = false;
    io.sails.url = 'http://meshr.cz:1337';
    //////////////////////////////////////////////////////////////////////////////////////////
    </script>
    <script src="./js/depends/underscore.js"></script>
    <script src="./js/depends/date.min.js"></script>
    <script src="./js/mui.min.js"></script>
    
    <script src="./leaflet/leaflet.js"></script>
    <script src="./js/heatmap.min.js"></script>
    <script src="./js/leaflet-heatmap.js"></script>
    <!-- your app's js 
    <script src="./js/controllers.js"></script>
    -->
    <script src="./js/isoCountries.js"></script>
    <script src="./js/app.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45929869-4', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body ng-app="starter" layout="column">

    <div class="mui-appbar">
      <div class="left"><img src="img/ionic.png"> Smokers</div>
      <div class="right">
        <a href="https://play.google.com/store/apps/details?id=com.ionicframework.smokersapp402381">
          <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
        </a>
      </div>
    </div>
    
    <div class="legend" style="max-height: {{ legendHeight }}px !important">
      <div ng-repeat="state in legend">
        <span class="state">{{ state.name }}: <span class="smokes">{{ state.key }}</span></span>
      </div>
    </div>

    <!--div class="info">
      <p>
        Every time you smoke a cigarette, add it here and help create world-wide statistic!
      </p>
      <p>
        No sign-up or login needed, you are identified by your device's unique ID, so this si 100% anonymous. The purpose of this app is to map smoking habits in all countries.
      </p>
      <p>
        More features are coming I guess, but so far the main idea is done and hopefully working.
        If you have found any bugs, please go to https://bitbucket.org/fvincurek/smokers/issues and submit bug (if doesn't already exists).
      </p>
    </div-->
    
    <div id="map-canvas" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0;"></div>
  
  </body>
</html>
