/* Empty. Add your own CSS if you like */

//@import "../mui/sass/mui/mui.scss";

$red: #dc7f54;
$orange: #EEaa33;
$white: #fefefe;
$green: #638885;
$dark: #333;

.mui-appbar{
  width: 100%;
  background: $green;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  font-weight: bolder;
  img {
    margin: 12px;
    max-height: 40px;
    max-width: 40px;
  }
  .right {
    float: right;
    display: inline-block;
    line-height: 64px;
    margin-right: 15px;
    img {
      max-width: 120px;
    }
  }
  .left {
    line-height: 64px;
    display: inline-block;
    float: left;
  }
}

.legend{
  background: $white;
  color: $dark;
  bottom: 6px;
  //height: 200px;
  position: fixed;
  left: 6px;
  width: auto;
  z-index: 9999;
  opacity: 0.8;
  padding: 15px;
  overflow: auto;
  .state{
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    .smokes{
      float: right;
      color: $red;
      font-weight: bolder;
      display: inline-block;
      font-weight: bolder;
      //line-height: 21px;
      margin-left: 7px;
    }
  }
}

.info{
  background: $white;
  color: $dark;
  width: 250px;
  height: auto;
  bottom: 205px;
  position: fixed;
  left: 0;
  z-index: 9999;
  opacity: 0.8;
  padding: 15px;
}