/* Empty. Add your own CSS if you like */
.mui-appbar {
  width: 100%;
  background: #638885;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  font-weight: bolder; }
  .mui-appbar img {
    margin: 12px;
    max-height: 40px;
    max-width: 40px; }
  .mui-appbar .right {
    float: right;
    display: inline-block;
    line-height: 64px;
    margin-right: 15px; }
    .mui-appbar .right img {
      max-width: 120px; }
  .mui-appbar .left {
    line-height: 64px;
    display: inline-block;
    float: left; }

.legend {
  background: #fefefe;
  color: #333;
  bottom: 6px;
  position: fixed;
  left: 6px;
  width: auto;
  z-index: 9999;
  opacity: 0.8;
  padding: 15px;
  overflow: auto; }
  .legend .state {
    width: 100%;
    font-size: 12px;
    line-height: 20px; }
    .legend .state .smokes {
      float: right;
      color: #dc7f54;
      font-weight: bolder;
      display: inline-block;
      font-weight: bolder;
      margin-left: 7px; }

.info {
  background: #fefefe;
  color: #333;
  width: 250px;
  height: auto;
  bottom: 205px;
  position: fixed;
  left: 0;
  z-index: 9999;
  opacity: 0.8;
  padding: 15px; }
