<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>

    <ion-nav-bar class="bar-stable">
    
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    
    </ion-nav-bar>
    
    <div ng-if="saving" class="saved">Saved!</div>
    <div ng-if="disconnected" class="disconnected">
      <i class="icon ion-loop connecting"></i>
      Connecting...
    </div>
    <div class="address">
      <strong>{{ address.city }}</strong><br>
      {{ address.country }}
    </div>
    
    <button class="mui-btn mui-btn-floating add-smoke" ng-click="addSmoke()">+</button>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable left-menu">
      <img src="img/ionic.png" class="logo" menu-toggle="left"><h1 class="title left">Smokers</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>

        <ion-item nav-clear menu-close href="#/app/smokes" class="item item-icon-left left-menu">
          <i class="icon ion-pie-graph"></i>
          Smokes 
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/personalStats" class="item item-icon-left left-menu">
          <i class="icon ion-person"></i>
          Personal Stats 
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/worldStats" class="item item-icon-left left-menu">
          <i class="icon ion-stats-bars"></i>
          World Stats 
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/worldMap" class="item item-icon-left left-menu">
          <i class="icon ion-map"></i>
          World Map 
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/settings" class="item item-icon-left left-menu">
          <i class="icon ion-gear-a"></i>
          Settings
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/info" class="item item-icon-left left-menu">
          <i class="icon ion-help-buoy"></i>
          Info
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
