<ion-view view-title="Personal Stats">
  <ion-content>
  	<div class="personal-cont">

		<span class="cigarettes-count">
			<span class="small">You've smoked</span> {{ personal.celkem }} <span class="small">cigarettes</span>
			<br>
			<span ng-if="personal.cena">
				<span class="small">which is</span> {{ personal.cena }} {{ currency() }}
			</span>
		</span>

  	</div>
  </ion-content>
</ion-view>
