<ion-view view-title="Settings">
  <ion-content>
  <div class="settings-cont">
    <!--
    <h3>Here you can set some basic stuff (or not)</h3>
    <form novalidate class="simple-form">
      
      Username:
      <input type="text" ng-model="user.name" value="{{ user.name }}"/><br />

      Gender: 
      <label>male <input type="radio" ng-model="user.gender" value="male" /></label>
      <label>female <input type="radio" ng-model="user.gender" value="female" /></label>
      <label>other <input type="radio" ng-model="user.gender" value="other" /></label>

      Price
      <input type="text" ng-model="user.pack_price" value="{{ user.pack_price }}"/><br />
      of X cigarettes:
      <input type="text" ng-model="user.pack_value" value="{{ user.pack_value }}"/><br />

    </form>
    -->

    <form novalidate>  
      <legend>Here you can set some stuff</legend>
      
      <div class="mui-form-group">
        <input type="text" class="mui-form-control" ng-model="user.name" value="{{ user.name }}">
        <label>Username</label>
      </div>
      <div class="mui-form-group">
        <input type="text" class="mui-form-control" ng-model="user.pack_price" value="{{ user.pack_price }}">
        <label>Price</label>
      </div>
      <div class="mui-form-group">
        <input type="text" class="mui-form-control" ng-model="user.pack_value" value="{{ user.pack_value }}">
        <label>of X cigarettes</label>
      </div>

      <label class="item item-input item-select">
        <div class="input-label">
          Gender
        </div>
        <select ng-model="user.gender">
          <option value="male">Male</option>
          <option value="female" selected>Female</option>
          <option value="other">Other</option>
        </select>
      </label>

      <input type="button" class="mui-btn mui-btn-default mui-btn-raised" ng-click="reset()" value="Reset" /><br><input type="submit" class="mui-btn mui-btn-default mui-btn-raised" ng-click="update(user)" value="Save" />

    </form>

  </div>
  </ion-content>
</ion-view>
