<ion-view view-title="Smokes">
  <ion-content>

    <div id="pie-chart" class="pie-chart"></div>

    <ion-list class="smokes">
      <ion-item ng-repeat="smoke in renderSmokes | reverse" class="single">
        
        <span ng-if="isOwner( smoke.uuid ) === true" ng-click="deleteSmoke( smoke )" class="delete">
          <i class="icon ion-trash-b"></i>
        </span>
	      <span ng-if="isOwner( smoke.uuid ) === false" class="loc-icon">
		      <i class="icon ion-location"></i>
				</span>
        <span class="inner">
          {{ getGlobalAddress(smoke.address.country_code) }} {{ smoke.address.city || smoke.address.village || smoke.address.suburb }} <span class="username"><span ng-if="smoke.username">{{smoke.username}}</span> @{{ formatTime(smoke.createdAt) }}</span>
		      <span ng-if="smoke.gender" class="gender-icon">
			      <i class="icon ion-{{ checkGender(smoke.gender) }}"></i>
					</span>
        </span>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
