<ion-view view-title="World Stats">
  <ion-content>
  	<div class="global-number">
  		Globally smoked {{ globalNumber }} cigarettes
  	</div>
	<div id="world-stats-chart" style="position: absolute; top: 65px; left: 0; width: 100%; height: 80%;"></div>
  </ion-content>
</ion-view>
