/*
 * Drawer default styles
 * width, colors etc...
*/
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  pointer-events: none;
  background: white;
  border-radius: 1px;
  content: "";
  cursor: pointer;
  display: block;
  height: 2px;
  position: absolute;
  width: 18px;
  top: 10px;
  -webkit-transition: all 260ms ease-in-out;
          transition: all 260ms ease-in-out;
  -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
          transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg); }
#nav-toggle span:before {
  top: -6px; }
#nav-toggle span:after {
  top: 6px; }
#nav-toggle.active span {
  height: 2px;
  width: 14px;
  -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
          transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg); }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    height: 2px;
    top: 0; }
  #nav-toggle.active span:before {
    -webkit-transform: translate3d(-3px, -4px, 0) rotate3d(0, 0, 1, -45deg);
            transform: translate3d(-3px, -4px, 0) rotate3d(0, 0, 1, -45deg);
    width: 12px; }
  #nav-toggle.active span:after {
    -webkit-transform: translate3d(-3px, 4px, 0) rotate3d(0, 0, 1, 45deg);
            transform: translate3d(-3px, 4px, 0) rotate3d(0, 0, 1, 45deg);
    width: 12px; }

.menu-icon {
  left: 15px;
  position: absolute;
  top: 17px; }

nav .brand-logo {
  left: 56px !important;
  -webkit-transform: translateX(0) !important;
      -ms-transform: translateX(0) !important;
          transform: translateX(0) !important;
  color: white !important;
  font-size: 1.6rem; }

.swipe-area {
  width: 20px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999; }

.drawer {
  -webkit-transform-origin: 0% 50% !important;
      -ms-transform-origin: 0% 50% !important;
          transform-origin: 0% 50% !important;
  -webkit-transition: all .2s ease-out;
          transition: all .2s ease-out;
  -webkit-transform: translate3d(-100%, 56px, 0);
          transform: translate3d(-100%, 56px, 0);
  /* Other transform properties here */
  position: absolute;
  top: 0;
  background: white;
  width: 70%;
  max-width: 250px !important;
  height: 100%;
  z-index: 9999; }
  .drawer img.title {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 45px;
    z-index: 10; }
  .drawer .open {
    -webkit-transform: translate3d(0, 56px, 0);
            transform: translate3d(0, 56px, 0)
    /* Other transform properties here */ }
  .drawer .closed {
    -webkit-transform: translate3d(-100%, 56px, 0);
            transform: translate3d(-100%, 56px, 0)
    /* Other transform properties here */ }

.navbar-fixed {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
  height: 56px; }

.drawer-overlay {
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
  background: black;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 56px;
  max-width: 100%;
  z-index: 9998;
  opacity: 0;
  visibility: hidden; }
  .drawer-overlay.active {
    opacity: 0.4;
    visibility: visible; }
