/*
 * Drawer default styles
 * width, colors etc...
*/

//-> Hamburger menu ---
//   based on: http://www.elijahmanor.com/css-animated-hamburger-icon/
#nav-toggle{
  span, span:before, span:after{
    pointer-events: none;
    background: white;
    border-radius: 1px;
    content: "";
    cursor: pointer;
    display: block;
    height: 2px;
    position: absolute;
    width: 18px;
    top: 10px;
    transition: all 260ms ease-in-out;
    transform: translate3d(0, 0, 0) rotate3d( 0, 0, 1, 0deg );
    //box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  }
  span{
    &:before{
      top: -6px;
    }
    &:after{
      top: 6px;
    }
  }  
  &.active span{
    height: 2px;
    width: 14px;
    transform: translate3d(0, 0, 0) rotate3d( 0, 0, 1, 0deg );
    &:before, &:after {
      height: 2px;
      top: 0;
    }
    &:before{
      transform: translate3d(-3px, -4px, 0) rotate3d( 0, 0, 1, -45deg );
      width: 12px;
    }
    &:after{
      transform: translate3d(-3px, 4px, 0) rotate3d( 0, 0, 1, 45deg );
      width: 12px;
    }
  }
}
.menu-icon {
  left: 15px;
  position: absolute;
  top: 17px;
}
// # Hamburger menu ---

nav .brand-logo {
  left: 56px !important;
  transform: translateX(0) !important;
  color: white !important;
  font-size: 1.6rem;
}
.swipe-area{
	width: 20px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 9999;
}
.drawer {
  transform-origin: 0% 50% !important;
  transition: all .2s ease-out;
  transform: translate3d(-100%, 56px, 0);
  /* Other transform properties here */
  position: absolute;
  top: 0;
  background: white;
  width: 70%;
  max-width: 250px !important;
  height: 100%;
  z-index: 9999;
  img.title{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 45px;
    z-index: 10;
  }
  .open {
     transform: translate3d(0, 56px, 0);
    /* Other transform properties here */
  }
  .closed {
     transform: translate3d(-100%, 56px, 0);
    /* Other transform properties here */
  }
}
.navbar-fixed {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
  height: 56px;
}
.menu-content-panel{
  //top: 56px;
}
.drawer-overlay {
  transition: all .2s ease-in-out;
  background: black;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 56px;
  max-width: 100%;
  z-index: 9998;
  opacity: 0;
  visibility: hidden;
  &.active{
    opacity: 0.4;
    visibility: visible; 
  }
}