/* Empty. Add your own CSS if you like */
@font-face {
  font-family: 'RobotoBold';
  src: url("./fonts/Roboto-Bold-webfont.eot");
  src: url("./fonts/Roboto-Bold-webfont.eot?iefix") format("eot"), url("./fonts/Roboto-Bold-webfont.woff") format("woff"), url("./fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("./fonts/Roboto-Bold-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'RobotoRegular';
  src: url("./fonts/Roboto-Regular-webfont.eot");
  src: url("./fonts/Roboto-Regular-webfont.eot?iefix") format("eot"), url("./fonts/Roboto-Regular-webfont.woff") format("woff"), url("./fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("./fonts/Roboto-Regular-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'RobotoLight';
  src: url("./fonts/Roboto-Light-webfont.eot");
  src: url("./fonts/Roboto-Light-webfont.eot?iefix") format("eot"), url("./fonts/Roboto-Light-webfont.woff") format("woff"), url("./fonts/Roboto-Light-webfont.ttf") format("truetype"), url("./fonts/Roboto-Light-webfont.svg#webfont") format("svg"); }
html, body {
  font-family: 'RobotoLight';
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

strong {
  font-family: 'RobotoBold'; }

a {
  font-family: 'RobotoRegular'; }

.depth {
  margin: 0;
  padding: 0; }
  .depth.z1 {
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25); }
  .depth.z2 {
    box-shadow: 0 3px 12px -3px rgba(0, 0, 0, 0.35); }
  .depth.z3 {
    box-shadow: 0 3px 18px -4px rgba(0, 0, 0, 0.35); }

/* Menu styles */
ion-list.topBar {
  position: relative; }
ion-list.bottom-menu {
  border-top: 1px solid #ddd;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee; }
  ion-list.bottom-menu .list .item {
    font-size: 0.9rem;
    background: transparent; }
    ion-list.bottom-menu .list .item .item-content {
      background: transparent; }
      ion-list.bottom-menu .list .item .item-content i {
        font-size: 0.9rem; }

/* Loading screen */
.loading {
  background: #638885;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  vertical-align: middle;
  width: 100%;
  z-index: 99999; }
  .loading .wrapper {
    left: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) !important;
        -ms-transform: translateX(-50%) translateY(-50%) !important;
            transform: translateX(-50%) translateY(-50%) !important; }
    .loading .wrapper .center {
      position: relative; }
      .loading .wrapper .center img {
        -webkit-transform: translateX(-50%) !important;
            -ms-transform: translateX(-50%) !important;
                transform: translateX(-50%) !important;
        bottom: 5px;
        position: absolute;
        width: 65px;
        left: 50%; }
    .loading .wrapper h5 {
      font-size: 1.1rem;
      color: white;
      opacity: 0.8;
      text-shadow: 0 1px 10px #000; }
    .loading .wrapper .preloader-wrapper .spinner-red, .loading .wrapper .preloader-wrapper .spinner-red-only {
      border-color: #fefefe; }

a {
  color: #333 !important;
  text-decoration: none; }
  a :hover {
    text-decoration: none; }

.collection {
  border: medium none; }
  .collection .collection-item {
    background-color: transparent;
    border: medium none;
    line-height: 1.5rem;
    margin: 0;
    padding: 10px 20px;
    border-bottom: 1px solid #e7e7e7; }
    .collection .collection-item:nth-last-child(2) {
      opacity: 0.6; }
    .collection .collection-item:nth-last-child(1) {
      opacity: 0.2; }

.smokes .list {
  position: relative; }
.smokes .load-more {
  left: 50%;
  margin: auto auto 2rem;
  position: relative;
  -webkit-transform: translate3d(-50%, 0px, 0px);
          transform: translate3d(-50%, 0px, 0px);
  background: #638885; }
.smokes .single {
  height: 55px;
  margin-bottom: 8px;
  position: relative; }
  .smokes .single .gender-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #cbcbcb;
    font-size: 15px;
    opacity: 0.4; }
    .smokes .single .gender-icon .male {
      color: #416663; }
    .smokes .single .gender-icon .female {
      color: #ba5d32; }
    .smokes .single .gender-icon .planet {
      color: #003045; }
  .smokes .single .joint-icon {
    position: absolute;
    right: 25px;
    top: 10px;
    color: #638885;
    font-size: 15px;
    opacity: 0.4; }
    .smokes .single .joint-icon svg {
      width: 22px; }
      .smokes .single .joint-icon svg path {
        fill: #638885; }
  .smokes .single .username {
    bottom: 0;
    color: #ccc;
    font-size: 12px;
    position: absolute;
    right: 10px; }
  .smokes .single .delete, .smokes .single .loc-icon {
    display: inline-block;
    font-size: 25px;
    height: 100%;
    left: 0;
    line-height: 55px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 55px; }
    .smokes .single .delete i, .smokes .single .loc-icon i {
      position: relative;
      z-index: 10;
      text-shadow: 0 0 10px #fff; }
    .smokes .single .delete .gravatar, .smokes .single .loc-icon .gravatar {
      /*
      opacity: 0.4;
      position: absolute;
      top: 0;
      left: 0;
      height: 56px !important;
      width: 56px !important;
      */
      opacity: 0.4;
      width: 20px; }
  .smokes .single .title {
    color: #555555;
    line-height: 36px;
    margin-left: 36px; }
  .smokes .single .delete {
    color: #dc7f54; }
  .smokes .single .loc-icon {
    color: #638885; }
  .smokes .single .inner {
    margin-left: 55px; }

.informace {
  font-weight: bolder;
  pointer-events: none;
  background: none repeat scroll 0 0 #333;
  bottom: 0;
  color: #eee;
  height: 50px;
  left: 0;
  line-height: 50px;
  opacity: 0.9;
  padding-left: 15px;
  position: fixed;
  width: 100%;
  z-index: 99999999; }

#world-stats-chart {
  margin: 0; }

.saved, .disconnected {
  background: #638885;
  border-radius: 4px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4), 0 0 2px 0 rgba(0, 0, 0, 0.2) inset;
  color: #fefefe;
  line-height: 45px;
  margin-left: 15%;
  margin-top: 10px;
  position: absolute;
  text-align: center;
  top: 55px;
  -webkit-transition: all 0.4s linear 0s;
          transition: all 0.4s linear 0s;
  width: 70%;
  z-index: 99999; }

.disconnected {
  background: #dc7f54; }

.left-menu a i {
  font-size: 1.4rem !important;
  left: 20px;
  position: absolute;
  width: 56px; }

.info-cont, .settings-cont {
  font-size: 1.2rem !important;
  position: relative;
  color: #333; }
  .info-cont .user-grav, .settings-cont .user-grav {
    left: -20px;
    position: relative;
    top: 0;
    width: 56px; }
  .info-cont .button.save, .settings-cont .button.save {
    background: #638885 !important; }
  .info-cont .button.reset, .settings-cont .button.reset {
    background: #dc7f54 !important; }

.padd.top1 {
  background: white;
  margin-top: 1rem;
  position: inherit; }
.padd.topBar {
  top: 56px; }
.padd.bottom1 {
  margin-bottom: 1rem;
  position: inherit; }

.cigarettes-count {
  padding-top: 15px;
  font-size: 1.5rem !important;
  padding-bottom: 15px !important;
  padding-top: 15px !important;
  text-align: center;
  position: relative;
  color: #656565 !important; }
  .cigarettes-count .big-red {
    color: #dc7f54 !important;
    font-size: 2.7rem;
    font-family: 'RobotoBold';
    position: relative; }
  .cigarettes-count .med-red {
    font-size: 1.5rem;
    color: #ffb287;
    margin: auto;
    position: relative; }
  .cigarettes-count .small {
    font-size: 1.2rem;
    color: #656565; }

.global-number {
  position: relative;
  padding: 15px;
  font-size: 18px; }

.menu-icon .smokers {
  margin-right: 10px;
  margin-bottom: -0.2rem;
  max-height: 1rem;
  max-width: 1.4rem; }

.c3-axis-x, .c3-axis-y {
  fill: #9c9c9c;
  line-height: 14px; }

.navbar-fixed {
  position: fixed;
  top: 0 !important;
  left: 0 !important; }

nav {
  background: #638885 !important;
  color: #fefefe !important; }
  nav img {
    height: 35px;
    margin: 10px;
    width: 35px; }
  nav .nav-wrapper.title {
    background: #fff;
    color: #333333 !important; }
    nav .nav-wrapper.title a {
      color: #333333 !important; }

.bar .title {
  color: #fefefe !important;
  line-height: 55px !important;
  text-align: left;
  margin: 0; }
.bar .button {
  line-height: 55px !important; }

.left-menu .title {
  margin-left: 20px; }

.item {
  border: medium none !important;
  color: #545454 !important;
  position: relative;
  z-index: 2; }

#world-chart {
  width: 100% !important;
  height: 100% !important; }

.button.button-icon {
  color: #fefefe !important;
  line-height: 55px !important;
  top: 0.6rem !important;
  width: 55px !important; }

.has-header {
  top: 55px; }

.address {
  color: #fefefe;
  font-size: 12px;
  line-height: 56px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  z-index: 9999; }
  .address strong {
    position: relative;
    top: -5px; }
  .address .location {
    font-size: 25px;
    margin-left: 0.4rem;
    margin-right: 1rem; }

.add-panel .switch {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 99999; }
  .add-panel .switch.active .joint, .add-panel .switch.active .smoke {
    visibility: visible;
    opacity: 1; }
    .add-panel .switch.active .joint .btn-floating, .add-panel .switch.active .smoke .btn-floating {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }
  .add-panel .switch.active .plus .btn-floating {
    background: #638885 !important; }
    .add-panel .switch.active .plus .btn-floating i {
      -webkit-transform: rotate(135deg) !important;
          -ms-transform: rotate(135deg) !important;
              transform: rotate(135deg) !important; }
  .add-panel .switch .joint, .add-panel .switch .smoke {
    right: 8px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    bottom: 0 !important; }
    .add-panel .switch .joint .btn-floating, .add-panel .switch .smoke .btn-floating {
      -webkit-transition: all 0.1s ease-in 0.1s;
              transition: all 0.1s ease-in 0.1s;
      background: #fefefe !important;
      width: 38px;
      height: 38px; }
  .add-panel .switch .joint {
    bottom: 124px !important;
    -webkit-transition: all 0.3s ease-in-out 0.1s;
            transition: all 0.3s ease-in-out 0.1s; }
    .add-panel .switch .joint .btn-floating svg path {
      fill: #638885; }
    .add-panel .switch .joint .btn-floating i {
      color: #638885 !important; }
  .add-panel .switch .smoke {
    bottom: 70px !important;
    -webkit-transition: all 0.2s ease-in-out 0s;
            transition: all 0.2s ease-in-out 0s; }
    .add-panel .switch .smoke .btn-floating svg path {
      fill: #dc7f54; }
    .add-panel .switch .smoke .btn-floating i {
      color: #dc7f54 !important; }
  .add-panel .switch .plus {
    position: absolute;
    right: 0 !important;
    bottom: 0 !important; }
    .add-panel .switch .plus .btn-floating {
      background: #dc7f54 !important; }
      .add-panel .switch .plus .btn-floating i {
        -webkit-transition: all 0.2s ease-in-out 0.2s;
                transition: all 0.2s ease-in-out 0.2s; }

.add-smoke {
  font-size: 40px !important;
  background: #638885 !important;
  position: absolute !important;
  bottom: 15px;
  right: 15px;
  z-index: 99999 !important; }

.scroll {
  min-height: 100%; }

.toast.delete .title {
  color: #fefefe; }
.toast.delete .delete-toast {
  color: #638885 !important;
  background: none repeat scroll 0 0 #fff;
  font-weight: bolder;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;
  right: 0;
  top: 0; }
  .toast.delete .delete-toast i {
    font-size: 1.5rem;
    margin-right: 0.7rem; }
.toast.done {
  color: #638885; }

.card-panel {
  padding: 0; }

.content {
  height: 100% !important;
  min-height: 100% !important; }

.all-title h5 {
  color: #a6a6a6 !important; }

.pie-chart {
  height: 440px;
  margin-top: -210px;
  padding: 0;
  width: 100%; }

.chart-holder {
  overflow: hidden;
  margin-top: 15px;
  z-index: 10; }

.past-chart {
  width: 100%;
  height: 200px; }

.realtive {
  position: absolute; }

path[class*="highcharts-key"] {
  stroke: #e5e5e5; }
