/* Empty. Add your own CSS if you like */

//@import "../mui/sass/mui/mui.scss";

//$red: #EE4444;

//$red: #dc3f54;

$red: #dc7f54;
$orange: #EEaa33;
$white: #fefefe;
//$green: #33AA55;
//$green: #639a85;
$green: #638885;
$dark: #333333;
$planet: #003045;

@font-face{ 
  font-family: 'RobotoBold';
  src: url('./fonts/Roboto-Bold-webfont.eot');
  src: url('./fonts/Roboto-Bold-webfont.eot?iefix') format('eot'),
       url('./fonts/Roboto-Bold-webfont.woff') format('woff'),
       url('./fonts/Roboto-Bold-webfont.ttf') format('truetype'),
       url('./fonts/Roboto-Bold-webfont.svg#webfont') format('svg');
}
@font-face{ 
  font-family: 'RobotoRegular';
  src: url('./fonts/Roboto-Regular-webfont.eot');
  src: url('./fonts/Roboto-Regular-webfont.eot?iefix') format('eot'),
       url('./fonts/Roboto-Regular-webfont.woff') format('woff'),
       url('./fonts/Roboto-Regular-webfont.ttf') format('truetype'),
       url('./fonts/Roboto-Regular-webfont.svg#webfont') format('svg');
}
@font-face{ 
  font-family: 'RobotoLight';
  src: url('./fonts/Roboto-Light-webfont.eot');
  src: url('./fonts/Roboto-Light-webfont.eot?iefix') format('eot'),
       url('./fonts/Roboto-Light-webfont.woff') format('woff'),
       url('./fonts/Roboto-Light-webfont.ttf') format('truetype'),
       url('./fonts/Roboto-Light-webfont.svg#webfont') format('svg');
}

html, body{
  font-family: 'RobotoLight';
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
strong{
  font-family: 'RobotoBold';
}
a{
  font-family: 'RobotoRegular';
}

.depth{
  margin: 0;
  padding: 0;
  &.z1{
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
  }
  &.z2{
    box-shadow: 0 3px 12px -3px rgba(0, 0, 0, 0.35);
  }
  &.z3{
    box-shadow: 0 3px 18px -4px rgba(0, 0, 0, 0.35);
  }
}

/* Menu styles */
ion-list {
  &.topBar {
    position: relative;
    //top: 56px !important;
  }
  &.bottom-menu {
    border-top: 1px solid #ddd;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    .list{
      .item{
        font-size: 0.9rem;
        background: transparent;
        .item-content{
          i{
            font-size: 0.9rem;
          }
          background: transparent;
        }
      }
    }
  } 
}

/* Loading screen */
.loading {
  background: $green;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  vertical-align: middle;
  width: 100%;
  z-index: 99999;
  .wrapper{
    left: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) !important;
    .center {
      position: relative;
      img {
        transform: translateX(-50%) !important;
        bottom: 5px;
        position: absolute;
        width: 65px;
        left: 50%;
      }
    }
    h5 {
      font-size: 1.1rem;
      color: white;
      //font-weight: lighter;
      opacity: 0.8;
      text-shadow: 0 1px 10px #000;
    }
    .preloader-wrapper{ 
      .spinner-red, .spinner-red-only {
        border-color: $white;
      }
    }
  }
}

a{
  color: #333 !important;
  text-decoration: none;
  :hover{
    text-decoration: none;
    //color: $red !important;
  }
}


.collection {
  border: medium none;
  .collection-item {
    background-color: transparent;
    border: medium none;
    line-height: 1.5rem;
    margin: 0;
    padding: 10px 20px;
    border-bottom: 1px solid #e7e7e7;
    &:nth-last-child(2) {
      opacity: 0.6;
    } 
    &:nth-last-child(1) {
      opacity: 0.2;
    } 
  }
}

.smokes{
  .list {
    //margin-bottom: 20px;
    //padding-left: 20px;
    //padding-right: 20px;
    position: relative;
  }
  .load-more{
    left: 50%;
    margin: auto auto 2rem;
    position: relative;
    transform: translate3d(-50%, 0px, 0px);
    background: $green;
  }
  .single{
    //box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2) !important;
    height: 55px;
    margin-bottom: 8px;
    position: relative;
    .gender-icon {
      position: absolute;
      right: 10px;
      top: 10px;
      color: $white - #333;
      font-size: 15px;
      opacity: 0.4;
      .male{
        color: $green - #222;
      }
      .female{
        color: $red - #222;
      }
      .planet{
        color: $planet;
      }
    }
    .joint-icon {
      position: absolute;
      right: 25px;
      top: 10px;
      color: $green;
      font-size: 15px;
      opacity: 0.4;
      svg {
        width: 22px;
        path{
          fill: $green;
        }
      }
    }
    .username {
      bottom: 0;
      color: #ccc;
      font-size: 12px;
      position: absolute;
      right: 10px;
    }
    .delete, .loc-icon{
      //box-shadow: 8px 0 30px -5px rgba(0, 0, 0, 0.18);
      display: inline-block;
      font-size: 25px;
      height: 100%;
      left: 0;
      line-height: 55px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 55px;
      i{
        position: relative;
        z-index: 10;
        text-shadow: 0 0 10px #fff;
        //top: 0.8rem;
      }.gravatar {
        /*
        opacity: 0.4;
        position: absolute;
        top: 0;
        left: 0;
        height: 56px !important;
        width: 56px !important;
        */
        opacity: 0.4;
        width: 20px;
      }
    }
    .title {
      color: $dark + #222;
      line-height: 36px;
      margin-left: 36px;
    }
    .delete{
      color: $red;
    }
    .loc-icon{
      color: $green;
    }
    .inner{
      margin-left: 55px;
    }
  }
}

.informace {
  font-weight: bolder;
  pointer-events:none;
  background: none repeat scroll 0 0 #333;
  bottom: 0;
  color: #eee;
  height: 50px;
  left: 0;
  line-height: 50px;
  opacity: 0.9;
  padding-left: 15px;
  position: fixed;
  width: 100%;
  z-index: 99999999;
}

#world-stats-chart{
  margin: 0;
}

.saved, .disconnected {
  background: $green;
  border-radius: 4px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4), 0 0 2px 0 rgba(0, 0, 0, 0.2) inset;
  color: #fefefe;
  line-height: 45px;
  margin-left: 15%;
  margin-top: 10px;
  position: absolute;
  text-align: center;
  top: 55px;
  transition: all 0.4s linear 0s;
  width: 70%;
  z-index: 99999;
}
.disconnected{
  background: $red;
}
.left-menu a i {
  font-size: 1.4rem !important;
  left: 20px;
  position: absolute;
  width: 56px;
}

.info-cont, .settings-cont{
	//padding: 15px;
  font-size: 1.2rem !important;
  position: relative;
  color: #333;
  .user-grav{
    left: -20px;
    position: relative;
    top: 0;
    width: 56px;
  }
  .button{
    &.save{
      background: $green !important;
    }
    &.reset{
      background: $red !important;
    }
  }
}

.padd{
  &.top1{
    background: white;
    margin-top: 1rem;
    position: inherit;
    //z-index: 99999;
  }
  &.topBar{
    top: 56px;
  }
  &.bottom1{
    margin-bottom: 1rem;
    position: inherit;
    //z-index: 99999;
  }
}

.cigarettes-count{
  padding-top: 15px;
  font-size: 1.5rem !important;
  padding-bottom: 15px !important;
  padding-top: 15px !important;
  text-align: center;
  position: relative;
  color: $white - #999 !important;
  .big-red {
    color: $red !important;
    font-size: 2.7rem;
    //margin: 1rem;
    font-family: 'RobotoBold';
    position: relative;
    //top: 0.8rem;
  }
  .med-red {
    font-size: 1.5rem;
    color: $red + #333;
    //left: 2rem;
    margin: auto;
    position: relative;
  }
  .small{
    font-size: 1.2rem;
    color: $white - #999;
  }
}

.global-number{
  position: relative;
  padding: 15px;
  font-size: 18px;
}

.menu-icon {
	.smokers {
		margin-right: 10px;
    margin-bottom: -0.2rem;
    max-height: 1rem;
    max-width: 1.4rem;
  }
}

.c3-axis-x, .c3-axis-y {
  fill: #9c9c9c;
  line-height: 14px;
}

.navbar-fixed{
  position: fixed;
  top: 0 !important;
  left: 0 !important;
}

nav{
  background: $green !important;
  color: $white !important;
  img {
    height: 35px;
    margin: 10px;
    width: 35px;
  }
  .nav-wrapper{
    &.title{
      a{
        color: $dark !important;
      }
      background: #fff;
      color: $dark !important;
    }
  }
}

.bar{
  .title{
    color: $white !important;
    line-height: 55px !important;
    text-align: left;
    margin: 0;
  }
  .button{
    line-height: 55px !important;
  }
}

.left-menu{
  .title{
    margin-left: 20px;    
  }
}

.item {
  border: medium none !important;
  color: #545454 !important;
  position: relative;
  z-index: 2;
}

#world-chart {
  width: 100% !important;
  height: 100% !important;
}

.button{
	&.button-icon{
		color: $white !important;
		//font-size: 55px !important;
    line-height: 55px !important;
    top: 0.6rem !important;
    width: 55px !important;
	}
}

.has-header {
  top: 55px;
}

.address {
  color: $white;
  font-size: 12px;
  line-height: 56px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  z-index: 9999;
  strong {
    position: relative;
    top: -5px;
  }
  .location {
    font-size: 25px;
    margin-left: 0.4rem;
    margin-right: 1rem;
  }
}

.add-panel{
  .switch{
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 99999;
    &.active{
      .joint, .smoke {
        visibility: visible;
        opacity: 1;
        .btn-floating{
          box-shadow: 0 0 4px rgba(0,0,0,0.4);
        }
      }
      .plus{
        .btn-floating{
          background: $green !important;
          //box-shadow: 0 0 15px rgba(0,0,0,0.6);
          i{
            transform: rotate(135deg) !important;
          }
        }
      }
    }
    .joint, .smoke {
      right: 8px;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      bottom: 0 !important;
      .btn-floating{
        transition: all 0.1s ease-in 0.1s;
        background: $white !important;
        width: 38px;
        height: 38px;
      }
    }
    .joint {
      bottom: 124px !important;
      transition: all 0.3s ease-in-out 0.1s;
      .btn-floating{
        svg {
          path{
            fill: $green;
          }
        }
        i{
          color: $green !important;
        }
      }
    }
    .smoke {
      bottom: 70px !important;
      transition: all 0.2s ease-in-out 0s;
      .btn-floating{
        svg {
          path{
            fill: $red;
          }
        }
        i{
          color: $red !important;
        }
      }
    }
    .plus {
      .btn-floating{
        background: $red !important;
        i{
          transition: all 0.2s ease-in-out 0.2s;
        }
      }
      position: absolute;
      right: 0 !important;
      bottom: 0 !important;
    }

  }
  
}

.add-smoke{
  font-size: 40px !important;
  background: $green !important;
  position: absolute !important;
  bottom: 15px;
  right: 15px;
  z-index: 99999 !important;
}

.scroll {
  min-height: 100%;
}

.toast {
  &.delete{
    //line-height: 100%;
    .title{
      color: $white;
    }
    .delete-toast{
      color: $green !important;
      background: none repeat scroll 0 0 #fff;
      font-weight: bolder;
      padding-left: 30px;
      padding-right: 30px;
      position: absolute;
      right: 0;
      top: 0;
      i {
        font-size: 1.5rem;
        margin-right: 0.7rem;
      }
    }
  }
  &.done{
    color: $green;    
  }
}
.card-panel {
  padding: 0;
}

.content {
  //padding-bottom: 56px !important;
  height:  100% !important;
  min-height: 100% !important;
}

.all-title h5 {
  color: #a6a6a6 !important;
}

// Charts ////////////////////////////////////////////////////////////////////////////////
.pie-chart{
  height: 440px;
  margin-top: -210px;
  padding: 0;
  width: 100%;
}

.chart-holder {
  //background: none repeat scroll 0 0 red;
  //margin-bottom: -20px;
  //margin-bottom: -8px;
  //margin-top: -50px;
  overflow: hidden;
  margin-top: 15px;
  z-index: 10;
}

.past-chart{
  width: 100%;
  height: 200px;
}

.realtive{
  position: absolute;
}

path[class*="highcharts-key"] {
  stroke: #e5e5e5;
}